{{ partial "header.html" . }}

<div class="col-md-10" id="content'">
    <p><b>Welcome!</b> Here you'll find doses of many things I think about in my spare time, and hopefully give you some things to think about in yours. I'd love to hear from you if you're interested in anything I mention here.</p>
    <blockquote>“So you see! There's no end to the things you might know, depending how far beyond Zebra you go." - Dr. Seuss</blockquote>
    <p>I'm currently teaching people how to code at <a href="https://www.theironyard.com/">The Iron Yard</a>. I'm a lifelong learner interested in how to make information a democratizing force.</p>
    <hr /> {{ range $index, $element := first 10 (where .Data.Pages "Type" "post") }}
    <div class="post">
        {{ if eq $index 0 }}
        <h2 class="first"><a href="{{ .Permalink }}">{{ .Title }}</a></h2> {{ else }}
        <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2> {{ end }}
        <p class="date">Published on {{ dateFormat "Monday, Jan 2, 2006" .Date }} {{ $len := len .Params.tags }} {{ if gt $len 0 }} under {{ range $index, $element := sort .Params.tags }} {{ if and (le (sub (sub $len 1) $index) 0) (gt $len 1) }} and <a href="/tags/{{ $element | urlize }}">#{{ $element }}</a> {{ else }} {{ if gt $len 2 }}
            <a href="/tags/{{ $element | urlize }}">#{{ $element }}</a>, {{ else }}
            <a href="/tags/{{ $element | urlize }}">#{{ $element }}</a> {{ end }} {{ end }} {{ end }} {{ end }}
        </p>
        <p>{{ .Summary }}</p>
    </div>
    {{ end }}
</div>

{{ partial "footer.html" . }}