{{ partial "header.html" . }}

    <div class="col-md-10" id="content'">
        <p><b>Welcome!</b>  I'm currently a product manager at YouTube and began my career at Google working on search products. Before starting work I got my bachelors in computer science at Clemson University and masters at UC Berkeley. While at Berkeley I was the head TA for <a href="http://cs10.org/">CS10: the Beauty and Joy of Computing</a>, an intro-level computer science class that ignited my interest in human motivation and education. I'm a believer in the power of technology paired with human ingenuity to solve important human problems, and am fascinated by learning, motivation, and public policy. I want everyone to care about something.</p>

        <br />

    	{{ range $index, $element := first 10 (where .Data.Pages "Type" "post") }}
    	<div class="post">
            {{ if eq $index 0 }}
        	<h2 class="first"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
            {{ else }}
            <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
            {{ end }}
            <p class="date">Published on {{ dateFormat "Monday, Jan 2, 2006" .Date }} 
                {{ $len := len .Params.tags }}
                {{ if gt $len 0 }}
                    under 
                    {{ range $index, $element := sort .Params.tags }} 
                        {{ if and (le (sub (sub $len 1) $index) 0) (gt $len 1) }}
                            and <a href="/tags/{{ $element | urlize }}">#{{ $element }}</a>
                        {{ else }}    
                            {{ if gt $len 2 }}
                                <a href="/tags/{{ $element | urlize }}">#{{ $element }}</a>,
                            {{ else }}
                                <a href="/tags/{{ $element | urlize }}">#{{ $element }}</a>
                            {{ end }}
                        {{ end }}
                    {{ end }}
                {{ end }}
            </p>
        	<p>{{ .Summary }}</p>
    	</div>
        {{ end }}
    </div>

{{ partial "footer.html" . }}