body {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
    padding: 50px;

	h1 {
		font-size: 30px;
	}

}

.first {
	padding-top: 0px;
	margin-top: 0px;
}

.date {
	color: #999;
}

.post {
	border-left: 5px solid #eee;
	padding-left: 12px;
}