body {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
    padding: 50px;

    background-color: #fafafa;

	h1 {
		font-size: 30px;
	}

}

.first {
	padding-top: 0px;
	margin-top: 0px;
}

.date {
	color: #999;
}

.post {
	padding-left: 0px;
}

.intro {
	margin-bottom: 80px;
}